<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="row">
    <h1>Update form</h1>
  </div>


  <form action=<%= "/user/edit/"+user._id %> method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="card">
        <input name="img" type="file">
      </div>
      <div class="card">
        <!-- 1 -->
        <div class="row">
          <input name="name" type="text" value=<%= user.name %> >
          <input name="email" type="email" value=<%= user.email %> >
        </div>
        <!-- 2 -->
        <div class="row">
          <input name="phone" type="number" value=<%= user.phone %>>
          <select name="country" value=<%= user.country %>>
            <option value="Pakistan">Pakistan</option>
            <option value="India">India</option>
            <option value="Turkey">Turkey</option>
          </select>
        </div>
        <!-- 3 -->
        <div class="row">
          <input name="region" type="region" value=<%= user.region %>>
          <input name="city" type="city" value=<%= user.city %>>
        </div>
        <!-- 4 -->
        <div class="row">
          <input name="address" type="address" value=<%= user.address %>>
          <input name="zipcode" type="zipcode" value=<%= user.zipcode %>>
        </div>

        <button class="btn" type="submit">Update User</button>
      </div>
    </div>
  </form>

  <div class="card"></div>

</body>

</html>